.pio
.vscode

# AI developement files
CHAT.md
frequency_plan.md
IDEAL_HAL.md
Pin Object Structure discussion.cpp
plan1.md
PLAN.md
PROGRESS.md
STATUS.md
Transition notes 4-28-26.txt
.codex

include/
lib/
test/
bin/
lib64
pyvenv.cfg
