.pio
.vscode

# AI developement files
CHAT.md
frequency_plan.md
IDEAL_HAL.md
Pin Object Structure discussion.cpp
plan1.md
PLAN.md
PROGRESS.md
STATUS.md
Transition notes*
.codex

test/README
__pycache__/
include/
lib/
bin/
lib64
pyvenv.cfg
.understand-anything/
node_modules/
package-lock.json
package.json
